// ======================================== [IMPORTS]
@import './_shadow.scss';
@import './_colors.scss';
@import './_transition.scss';

// ======================================== [BUTTONS]
.btn {
    height: 47px;
    padding: 0 1.7em;
    cursor: pointer;
    font-size: 14px;
    border: none;
    transition: $transition-1;
    box-shadow: $shadow-1;
    color: rgb(0, 0, 0);
    font-weight: bold;

    i{
        color: black;
        font-size: 24px;
    }

    &:hover {
        transform: scale(1.05);
    }

    &:active {
        transform: scale(0.95);
    }
}

// ========== [PROMPT]
.btn-prompt {
    background-color: $color-1;
}