body {
    padding: .8em;
    background-color: black;

    input {
        width: 100%;
        height: 100%;
        font-size: 28px;
        color: rgb(0, 255, 0);
        border: none;
        background-color: black;

        &:focus {
            outline:  none;
        }
    }

}